    <!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/areas/images/logo-icon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">Syndash</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ms-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li class="menu-label">Web Apps</li>
        <li>
            <a href="/Management/ContactMessage/Index">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Mesajlar</div>
            </a>
        </li>
        <li>
            <a href="/Management/Skill/Index">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Yetenekler</div>
            </a>
        </li>
        <li>
            <a href="/Management/Article/Index">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-archive"></i>
                </div>
                <div class="menu-title">Makaleler</div>
            </a>
        </li>
        <li>
            <a href="/Management/MainPage/Index">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-archive"></i>
                </div>
                <div class="menu-title">Anasayfa</div>
            </a>
        </li>
        <li>
            <a href="/Management/About/Index">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-archive"></i>
                </div>
                <div class="menu-title">Hakkımda</div>
            </a>
        </li>
        <li>
            <a href="/Management/Project/Index">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-archive"></i>
                </div>
                <div class="menu-title">Projeler</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar-wrapper-->