<!DOCTYPE html>
<html lang="en">

<head>
   <partial name="_Head" />
</head>

<body>
   <partial name="_Topbar" />


   <partial name="_Navbar" />


   @RenderBody()
    

  <partial name="_Footer" />

  
    
     <partial name="_Scripts"/>
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>
   
</body>

</html>