 <!-- Topbar Start -->
<div class="container-fluid px-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Email Us</h6>
                    <span>benimkutuphanem@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-primary border-inner py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-white"><i class="fa fa-kütüphane-kitap fs-1 text-dark me-3"></i>Benim Kütüphanem</h1>
                </a>
            </div>
        </div>
        
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">İletişim</h6>
                    <span>+90 535 987 8374</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->